body {
    background: #d2d2d2;
}



.page-container {
    margin-top: 75px;
}

.button-group {
    padding: 5vw;
    text-align: center;

}

.button-group > button {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}

.colorbutton-group {
    padding: 2vw;
    text-align: center;
}

.colorbutton-group > button {
    font-size: 1.5em;
    margin: 2px;
    padding: 10px;
}

#counterText {
    color: black;
    font-family: consolas, arial, sans-serif;
    font-size: 4em;
    text-align: center;
}

#favoriteColorContainer {
    width: 200px;
    margin: auto;
}

#favoriteColorBox {
    background-color: #800000;
    line-height: 100px;
    text-align: center;
    color: white
}

